@font-face {
    font-family: "Baskerville";
    src: url("../fonts/Baskervville-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Bodoni";
    src: url("../fonts/BodoniModa-VariableFont_opsz\,wght.ttf") format("truetype");
}

body {
    background-color: #877257;
    font-family: "Baskerville", serif;

}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

h1,
h2,
h3 {
    font-family: "Bodoni", serif;
    color: white;
}

img {
    width: 150px
}

.dialog-profile {
    text-align: center;
}

.dialog {
    flex: 1;
    border: 1px solid black;
    padding: 12px;
    background-color: #d8c3a5;
    border-radius: 12px;
}

#dialog-name {
    font-weight: 800;
}

#buttons {
    text-align: right;
    margin-top: auto;
}

#exit-button {
    display: none;
}