body {
    background-color: #e5decf;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

img {
    width: 200px
}

.dialog-profile {
    text-align: center;
}

.dialog {
    flex: 1;
}

#buttons {
    text-align: right;
    margin-top: auto;
}

#exit-button {
    display: none;
}